[class*="col-"]{
  color: white;
  font-family: sans-serif;
  font-size: 5em;
  text-align: center;
}

.col-12{
  background: #F7EA00;
}

#item-b,
#item-c,
#item-d,
#item-e,
#item-f,
#item-g {
  font-size: 1em;
  height: 200px;
}

#item-b {
  background: #36B6E8;
}

#item-c {
  background: #E836B1;
}

#item-d {
  background: #F7B93C;
}

#item-e {
  background: #ED5A5A;
}

#item-f {
  background: #41EFB9;
}

#item-g {
  background: #92E542;
}

#item-h {
  background: #E486EA;
  height: 414px;
}
